@use "/src/sass/base/variables.scss" as *;


.btn_buy {
    all: unset; /* Полностью сбрасывает все базовые стили */
    cursor: pointer;
    text-transform: uppercase;
    padding-top: 27px;
    margin-left: 73px;
    font-weight: 400;
    font-size: 14px;
    span {
        padding-left: 3px;  
    }
    .line {
        margin: 3px 0;
        width: 72px;
        height: 0px;

    }
}

h1 {
    font-weight: 400;
    font-size: 23px;
    text-align: center;
}


.about__badge {
    margin: 32px auto;
    border: 1px solid $brown;
    border-radius: 39px;
    width: 283px;
    height: 139px;
    background: $sand;
}
