@use "/src/sass/base/variables.scss" as *;


.about {
    height: auto;
    background: $light-warm;
    margin: 0;
    padding: 0 0 12px 0;
    width: 100%;
    display: block;
    position: relative;
    &__title {
        padding-top: 32px;
        color: $brown;
    }
    &__pack {
        &-badge {
            &-icon {
                display: block;
                margin: 0 auto;
                margin-top: 14px;
                width: 31px;
                height: 31px;
            }
            &-title {
                margin-top: 9px;
                font-family: Itim;
                font-weight: 400;
                font-size: 15px;
                color: $brown;
                text-align: center;
            }
            &-descr {
                margin: 0 38px;
                margin-top: 10px;
                font-family: Itim;
                font-weight: 400;
                font-size: 12px;
                text-align: center;
                color: $brown;
            }
        }
    }
    &__pack-badge-brown {
        background: $brown;
        border: 1px solid $dark;
        .about__pack-badge-title {
            color: $light-warm;
        }
        .about__pack-badge-descr {
            color: $light-warm;
        }
    }
    &__discount {
        margin: 0 auto;
        border: 1px solid $dark;
        border-radius: 11px;
        width: 304px;
        height: 94px;
        background: $brown;
        &-title {
            margin-top: 22px;
            font-family: Libre Calson Text;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            color: $white;
        }
        &-descr {
            margin-top: 15px;
            font-family: Libre Calson Text;
            font-weight: 500;
            font-size: 10px;
            text-align: center;
            color: $white;
            img {
                width: 17px;
                height: 17px;
                margin-right: 6px;

            }
        }
    }
}

@media screen and (min-width: 768px) {
    .about {
        &__title {
            font-size: 48px;
        }
        &__pack {
            display: flex;
            &-badge {
                    &-icon {
                        margin-top: 19px;
                        width: 35px;
                        height: 35px;
                    }
                    &-title {
                        margin-top: 16px;
                        font-size: 20px;
                    }
                    &-descr {
                        margin: 0;
                        margin-top: 12px;

                    }
                }
            }
            &__discount {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 562px;
                height: 150px;
                &-title {
                    margin-left: 31px;
                    margin-bottom: 30px;
                    font-size: 24px;
                }
                &-descr {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    margin: 28px 80px 30px 19px;
                    font-size: 16px;
                    img {
                        padding-right: 0;
                        width: 36px;
                        height: 33px;
                        padding-bottom: 4px;
                    }
                }
            }
        }
    }
