@use "/src/sass/base/variables.scss" as *;

.contacts {
    padding-bottom: 32px;
    &__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 23px;
        color: $dark;
    }
    &__descr {
        margin-top: 34px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: $dark;
    }
    &__online {
        margin-top: 18px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        color: $dark;
    }
    &__mobile {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 11px;
        text-align: center;
        color: $dark;
    }
}