@use "/src/sass/base/variables.scss" as *;

.contacts {
    padding-bottom: 32px;
    background-color: $light-warm;
    &__title {
        padding-top: 25px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 23px;
        text-align: center;
        color: $dark;
    }
    &__descr {
        margin-top: 34px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        margin: 34px 54px 0 54px;
        color: $dark;
    }
    &__online {
        margin-top: 26px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        color: $dark;
    }
    &__number {
        margin-top: 21px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        text-align: center;
        color: $dark;
        span {
            padding-left: 11px;
        }
    }
}