@use "/src/sass/base/variables.scss" as *;

.contacts {
    padding-bottom: 32px;
    background-color: $light-warm;
    &__title {
        padding-top: 25px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 23px;
        text-align: center;
        color: $dark;
    }
    &__descr {
        margin-top: 34px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        margin: 34px 54px 0 54px;
        color: $dark;
    }
    &__service {
        &-online {
            margin-top: 26px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 10px;
            text-align: center;
            color: $dark;
        }
        &-number {
            margin-top: 21px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 13px;
            text-align: center;
            color: $dark;
            span {
                padding-left: 11px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .contacts {
        &__title {
            font-size: 40px;
        }
        &__descr {
            font-size: 24px;
            margin: 48px 120px 0 120px;
        }
        &__service {
            display: flex;
            justify-content: space-between;
            &-online {
                font-size: 20px;
                margin-top: 43px;
            }
            &-number {
                margin-top: 42px;
                font-size: 20px;
            }
        }
    }
}