@use "/src/sass/base/variables.scss" as *;

.footer {
    background-color: $dark;
    &__title {
        padding-top: 21px;
        img {
            display: block;
            padding-left: 66px;
        }
    }
    &__nav {
        padding-top: 27px;
        display: flex;
        justify-content: space-between;
        li {
            font-family: barlow;
            font-weight: 400;
            font-size: 15px;
            color: $white;
            list-style-type: none;
            .li {
                padding-top: 12px;
                font-size: 14px;
            }
        }
        .footer__link {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
        }
    }
    &__follow {
        margin-top: 31px;
        font-family: barlow;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        color: $white;
        img {
            margin-top: 10px;
            margin-right: 7px;
            margin-left: 7px;
        }
    }
    &__copyright {
        margin-top: 37px;
        padding-bottom: 16px;
        text-align: center;
        font-family: barlow;
        font-weight: 400;
        font-size: 10px;
        color: $white;
    }
}


@media screen and (min-width: 768px) {
    .footer {
        &__title {
            position: relative;
            img {
                position: absolute;
                bottom: -50px;
                width: 250px;
                height: 41px;
                padding-left: 0;
            }
        }
        &__nav {
            display: flex;
            justify-content: center;
            margin-left: 300px;
            margin-top: -3px;
            li {
                margin: 0 32px 0 33px;
                font-size: 20px;
                .li {
                    margin-top: 19px;
                    font-size: 14px;
                }
            }
        }
        &__follow {
            padding-top: 12px;
            text-align-last: left;
            font-size: 20px;
            img {
                margin-top: 25px;
                width: 30px;
                height: 29px;
            }
            span {
                padding-left: 17px;
            }
        }
        &__copyright {
            font-size: 16px;
            padding-bottom: 20px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        &__title {
            padding-top: 32px;
            img {
                width: 330px;
                height: 55px;
            }
        }
        &__nav {
            margin-top: -13px;
            margin-left: 500px;
            li {
                margin: 0 55px 0 55px;
                font-size: 28px;
                .li {
                    font-size: 20px;
                }
            }
        }
        &__follow {
            margin-left: 70px;
            &-us {
                span {
                    font-size: 28px;
                }
            }
            img {
                margin-right: 24px;
                margin-left: 9px;
            }
        }
        &__copyright {
            font-size: 22px;
        }
    }
}