@use '/src/sass/base/variables.scss' as *;

.header {
    width: 100%;
    background: $light-warm;
    padding: 0;


    &__grid {
        display: grid;
        grid-template-columns: 131px 1fr;
        grid-auto-rows: 152px;
        gap: 0;
    }

    &__card {
        position: relative;
        overflow: hidden;

        &--photo {
            background: $dark;
        }

        &--promo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: $sand;
            color: $brown;
        }
    }

    &__card:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &__card:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    &__card:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &__card:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &__card--promo-kids {
        background: $brown;
        color: $sand;
    }

    &__card--photo-extra {
        display: none;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__promo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 100%;
        height: 100%;
        padding: 0 16px;
    }

    &__promo-title {
        font-family: var(--font4);
        font-weight: 400;
        font-size: 15px;
        line-height: 1.3;
    }

    .btn_buy {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        border: none;
        font-weight: 400;
        font-size: 16px;
        color: inherit;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0;
        padding: 0;

        span {
            letter-spacing: 0.1em;
        }

        .line {
            width: 84px;
            height: 0;
            border: 1px solid currentColor;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        min-height: 480px;

        &__grid {
            grid-template-columns: 291px 1fr;
            grid-auto-rows: 226px;
        }

        &__promo {
            gap: 24px;
            padding: 0 42px;
        }

        &__promo-title {
            font-size: 32px;
        }

        .btn_buy {
            font-size: 24px;
            gap: 0;

            .line {
                width: 130px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .header {

        &__grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-template-rows: repeat(2, minmax(280px, 1fr));
        }

        &__card--photo-extra {
            display: block;
        }

        &__card {
            &--promo {
                padding: 32px 24px;
                text-align: left;
            }
        }

        &__card:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
        &__card:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
        &__card:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
        &__card:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
        &__card:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }
        &__card:nth-child(6) { grid-area: 2 / 3 / 3 / 4; }

        &__promo-title {
            font-size: 43px;
            span {
                display: block;
            }
        }

        .btn_buy {
            font-size: 28px;
            gap: 9px;

            .line {
                width: 157px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .header {
        &__promo {
            gap: 40px;
            &-title {
                font-size: 60px;
                
            }
            .btn_buy {
                margin-bottom: 46px;
                font-size: 65px;
                .line {
                    width: 320px;
                }
                span {
                    letter-spacing: 0;
                }
            }
        }
    }
}