@use '/src/sass/base/variables.scss' as *;

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px solid $dark;
    width: 100%;
    height: 68px;
    background: $dark;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &__heart-icon {
        margin-left: 16px;
        margin-bottom: 4px;
        width: 27px;
        height: 27px;
        cursor: pointer;
        display: block;
    }
    &__burger-icon {
        margin-right: 16px;
        margin-bottom: 4px;
        width: 27px;
        height: 27px;
    }

}

@media screen and (min-width: 768px) {
    .logo {
        &__heart-icon {
            width: 42px;
            height: 40px;
        }
        &__title-img {           
            width: 298px;
            height: 44px;
        }
        &__burger-icon {
            width: 43px;
            height: 40px;
        }
    }
}


@media screen and (min-width: 1440px) {
    .logo {
        display: block;
        position: relative;
        &__heart-icon {
            position: absolute;
            top: 12px;
        }
        &__title-img {           
            margin-top: 9px;
        }
        &__burger-icon {
            display: none;
        }
    }
}


@media screen and (min-width: 1920px) {
    .logo {
        height: 98px;
        &__heart-icon {
            margin-left: 50px;
            width: 68px;
            height: 64px;
        }
        &__title-img {
            width: 471px;
            height: 71px;
        }
    }
}
