@use "/src/sass/base/variables.scss" as *;

.portfolio {
    padding-top: 12px;
    padding-bottom: 36px;
    background: $light-warm;
    &__sweaters-header , .portfolio__dresses-header {
        font-weight: 300;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        color: $brown;
    }
    &__sweaters-line, .portfolio__dresses-line{
        border: 1px solid $brown;
        margin: 7px auto 0 auto;
        width: 340px;
        height: 0px;
    }
    .swiper-slide {
        img {
            display: block;
            margin: 17px auto 0 auto;
        }
        .portfolio__descr {
            display: flex;
            padding: 0 73px 0 73px;
            margin-top: 10px;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__dresses {
        &__dresses-header {
            font-weight: 300;
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .mySwiper {
        position: relative;
        overflow: visible; // стрелки не обрезаются
        height: auto; // пусть высота подстраивается под контент
      
        .swiper-slide {
          text-align: center;
      
          img {
            display: block;
            margin: 17px auto 0 auto;
            max-width: 100%;
          }
      
          .portfolio__descr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            padding: 0 73px;
          }
        }
      
        // стрелки
        .swiper-button-prev,
        .swiper-button-next {
          position: absolute;
          top: 100%; // ставим сразу под слайдом!
          transform: translateY(10px); // немного ниже, если хочешь отступ
          width: 28px;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background: none;
          border: none;
          z-index: 10;
        }
      
        .swiper-button-prev {
          left: 50%;
          transform: translate(-80px, 10px); // внутрь и вниз
        }
      
        .swiper-button-next {
          right: 50%;
          transform: translate(80px, 10px); // внутрь и вниз
        }
      
        .swiper-button-next::after,
        .swiper-button-prev::after {
          content: none;
        }
      
        .swiper-button-next img,
        .swiper-button-prev img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          pointer-events: none;
        }
      }
    &__dresses {
        margin-top: 70px;
    }
    .line {
        margin-top: 74px;
    }
}


  




