@use "/src/sass/base/variables.scss" as *;

.portfolio {
    padding-top: 12px;
    background: $light-warm;
    overflow: visible; // don't clip content
    width: 100%;
    &__sweaters-header , .portfolio__dresses-header {
        font-weight: 300;
        font-size: 24px;
        font-family: "Itim", cursive;
        text-transform: uppercase;
        text-align: center;
        color: $brown;
    }
    &__sweaters-line, .portfolio__dresses-line{
        border: 1px solid $brown;
        margin: 7px auto 0 auto;
        font-family: "Itim", cursive;
        width: 340px;
        max-width: calc(100% - 20px); 
        height: 0px;
    }
    .slide-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        img {
            display: block;
            width: 100%;
            max-width: 368px;
            margin: 17px auto 0 auto;
            height: auto;
        }
        .portfolio__descr {
            display: flex;
            width: 100%;
            margin-top: 10px;
            padding: 12px 16px;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            gap: 12px;
            background: $light-warm;
        }
    }
    &__dresses {
        &__dresses-header {
            font-weight: 300;
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .mySwiper {
        position: relative;
        overflow: hidden; 
        height: auto; 
        width: 100%;
        position: relative;
        padding-bottom: 40px; 
        .swiper-wrapper {
          display: flex;
          .swiper-slide {
            flex-shrink: 0;
            width: 100%; 
            box-sizing: border-box;
          }
        }
        .swiper-slide  {
          width: 100%;
          text-align: left;
        }
      
        // стрелки
        .swiper-button-prev,
        .swiper-button-next {
          position: absolute;
          top: auto; 
          bottom: 0; 
          width: 28px;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background: none;
          border: none;
          z-index: 10;
        }
      
        .swiper-button-prev {
          left: 50%;
          transform: translateX(-80px);
        }
      
        .swiper-button-next {
          right: 50%;
          transform: translateX(80px); 
        }
      
        .swiper-button-next::after,
        .swiper-button-prev::after {
          content: none;
        }
      
        .swiper-button-next img,
        .swiper-button-prev img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          pointer-events: none;
        }
      }
    &__dresses {
        margin-top: 30px;
    }
    .line {
        margin-top: 37px;
    }
    .portfolio_name {
        flex: 1;
        text-align: left;
    }
    .portfolio_price {
        margin-left: auto;
        white-space: nowrap;
        text-align: right;
    }
}


@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: 38px;
    &__sweaters-header , .portfolio__dresses-header {
        font-size: 36px;
        text-align: left;
        padding-left: 79px;
      }
    &__sweaters-line, .portfolio__dresses-line{ 
        margin-top: 0;
        margin-top: 14px;
        width: 570px;
      }
    .mySwiper {
        margin-top: 0;
        margin-top: 26px;
        .swiper-slide {
          img {
            width: 100%;
            max-width: 462px;
            height: 377px;
          }
          .portfolio__descr {
            width: auto;
            font-size: 32px;
            gap: 132px;
            margin: 0 auto;
          }
        
        }
        .swiper-button-prev,
        .swiper-button-next {
          width: 45px;
          height: 32px;
        }
        
      }
    }
  }


  

  @media screen and (min-width: 1440px) {
    .portfolio {
      &__sweaters-header , .portfolio__dresses-header {
        padding-left: 46px;
        font-weight: 400;
        font-size: 36px;
        text-align: left;
      }
      &__sweaters-line , .portfolio__dresses-line {
        width: calc(100% - 90px);
      }
      .mySwiper {
        overflow: visible;
        margin-top: 26px;
        width: 100%;
        
        .swiper-wrapper {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
          gap: 24px;
          justify-content: center;
          transform: none !important;
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
        }
        
        .swiper-slide {
          width: 280px !important;
          max-width: 280px;
          transform: none !important;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          box-sizing: border-box;
          margin: 0;
          
          img {
            width: 100%;
            max-width: 280px;
            height: 294px;
            object-fit: cover;
            display: block;
            margin: 0;
            flex-shrink: 0;
          }
          
          .portfolio__descr {
            width: 100%;
            max-width: 280px;
            font-size: 20px;
            margin: 12px 0 0 0;
            padding: 12px 16px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
            flex-shrink: 0;
            overflow: hidden;
            
            .portfolio_name {
              flex: 1;
              text-align: left;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            
            .portfolio_price {
              margin-left: auto;
              white-space: nowrap;
              text-align: right;
              flex-shrink: 0;
            }
          }
        }
        
        .swiper-button-prev,
        .swiper-button-next {
          display: none !important;
        }
      }
      &__dresses {
        margin-top: 90px;
      }
      .line {
        margin-top: 74px;
      }
    }
  }


  @media screen and (min-width: 1920px) {
    .portfolio {
      &__sweaters-header , .portfolio__dresses-header {
        font-size: 66px;
      }
      &__sweaters-line , .portfolio__dresses-line {
        width: 2310px;
        max-width: calc(100% - 140px); // Предотвращает выход за границы контейнера
      }
      .mySwiper {
        margin-top: 0;
        margin-top: 26px;
        .swiper-wrapper {
          gap: 132px;
          .swiper-slide {
            img {
              width: 461px;
              height: 385px;
            }
            .portfolio__descr {
              margin-top: 12px;
              font-size: 32px;
              gap: 20px;
            }
          
          }  
        }      
      }
    }
  }