@use "/src/sass/base/variables.scss" as *;

.portfolio {
    padding-top: 12px;
    background: $light-warm;
    overflow: visible; // don't clip content
    width: 100%;
    &__sweaters-header , .portfolio__dresses-header {
        font-weight: 300;
        font-size: 24px;
        font-family: "Itim", cursive;
        text-transform: uppercase;
        text-align: center;
        color: $brown;
    }
    &__sweaters-line, .portfolio__dresses-line{
        border: 1px solid $brown;
        margin: 7px auto 0 auto;
        font-family: "Itim", cursive;
        width: 340px;
        max-width: calc(100% - 20px); 
        height: 0px;
    }
    .swiper-slide {
        img {
            display: block;
            margin: 17px auto 0 auto;
        }
        .portfolio__descr {
            display: flex;
            padding: 0 73px 0 73px;
            margin-top: 10px;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
            box-sizing: border-box;
        }
    }
    &__dresses {
        &__dresses-header {
            font-weight: 300;
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .mySwiper {
        position: relative;
        overflow: hidden; 
        height: auto; 
        width: 100%;
        position: relative;
        padding-bottom: 40px; 
        .swiper-wrapper {
          display: flex;
          .swiper-slide {
            flex-shrink: 0;
            width: 100%; 
            box-sizing: border-box;
          }
        }
        .swiper-slide  {
          text-align: center;
          display: block;
      
          img {
            display: block;
            margin: 17px auto 0 auto;
            max-width: 100%;
          }
      
          .portfolio__descr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            padding: 0 73px;
            max-width: 100%;
            box-sizing: border-box;
          }
        }
      
        // стрелки
        .swiper-button-prev,
        .swiper-button-next {
          position: absolute;
          top: auto; 
          bottom: 0; 
          width: 28px;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background: none;
          border: none;
          z-index: 10;
        }
      
        .swiper-button-prev {
          left: 50%;
          transform: translateX(-80px);
        }
      
        .swiper-button-next {
          right: 50%;
          transform: translateX(80px); 
        }
      
        .swiper-button-next::after,
        .swiper-button-prev::after {
          content: none;
        }
      
        .swiper-button-next img,
        .swiper-button-prev img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          pointer-events: none;
        }
      }
    &__dresses {
        margin-top: 30px;
    }
    .line {
        margin-top: 37px;
    }
}


@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: 38px;
    &__sweaters-header , .portfolio__dresses-header {
        font-size: 36px;
        text-align: left;
        padding-left: 79px;
      }
    &__sweaters-line, .portfolio__dresses-line{ 
        margin-top: 0;
        margin-top: 14px;
        width: 669px;
      }
    .mySwiper {
        margin-top: 0;
        margin-top: 26px;
        .swiper-slide {
          img {
            width: 462px;
            height: 377px;
          }
          .portfolio__descr {
            margin-top: 12px;
            font-size: 32px;
            justify-content: space-evenly;
          }
        
        }
        .swiper-button-prev,
        .swiper-button-next {
          width: 45px;
          height: 32px;
        }
        
      }
    }
  }


  

  @media screen and (min-width: 1440px) {
    .portfolio {
      &__sweaters-header , .portfolio__dresses-header {
        padding-left: 48px;
        font-weight: 400;
      }
      &__sweaters-line , .portfolio__dresses-line {
        width: 1260px;
      }
      .mySwiper {
        overflow: visible;
        
        .swiper-wrapper {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          transform: none !important;
        }
        
        .swiper-slide {
          width: 100% !important;
          transform: none !important;
          img {
            width: 290px;
            height: 305px;
          }
          .portfolio__descr {
            font-size: 24px;
            margin-left: -50px;
            justify-content: space-between;
            .portfolio_price {
              span {
                margin-right: -190px;
                margin-left: -31px;
              }
            }
          }
        }
        
        .swiper-button-prev,
        .swiper-button-next {
          display: none !important;
        }
      }
      &__dresses {
        margin-top: 90px;
      }
      .line {
        margin-top: 74px;
    }
    }
  }