@use '/src/sass/ui/pxtorem.scss';

@use '/src/sass/base/basic.scss';
@use '/src/sass/base/mixins.scss';
@use '/src/sass/base/variables.scss';
@use '/src/sass/base/animations.scss';


@use '/src/sass/blocks/logo.scss';   
@use '/src/sass/blocks/header.scss';
@use '/src/sass/blocks/about.scss';
@use '/src/sass/blocks/portfolio.scss';
@use '/src/sass/blocks/contacts.scss';
@use '/src/sass/blocks/footer.scss';